*{
    padding: 0;
    margin: 0;
    /*font-family: Geneva, Tahoma, sans-serif;*/
    font-family: cursive;

    --tom-branco: rgb(231, 231, 231);
}


body {
    width: 100%;
    background-color: var(--tom-branco);
}

header{
    background-color: #001021;
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    color:var(--tom-branco);
    font-size: 20px;
}

main{
    margin: 10px 20px;
}

header a{
    text-decoration: none;
}

nav{
    background-color: #001021;
    position: fixed;
    border-bottom: 1px solid gray;
    width: 100%;
    height: 60px;
    color: var(--tom-branco);
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
}

nav ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        margin: 0 20px 0 auto;
        justify-content: center; 
        align-items: center;
    }
nav li{
        margin: 0 10px;
        cursor: pointer;
        text-decoration: underline;
    }

.navLogo{
    height: 60px;
    width: 60px;
}

.wppButton {
    font-size: 24px;
    color: white;
    background-color: #34af23;
    padding: 7px 30px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.orcamentoButton {
    width: fit-content;
    font-size: 24px;
    color: black;
    background-color: var(--tom-branco);
    padding: 5px 10px;
    border-radius: 5px;
    border: black 1px solid;
    align-items: center;
    
    margin-bottom: 10px;
}

.segmento{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.segmento h1{
    display: flex;
    justify-content: last baseline;
    align-items: center;
    text-align: center;
}

.segmento p{
    margin: 10px 0px;
    font-size: 1.1rem;
    text-align: center;
}

.segmento li{
    list-style: none;
    text-align: justify;
}
.segmento li p{
    text-align: left;
}

.segmento a{
    display: flex;
    width: fit-content;
    justify-content: center;
    text-decoration: none;
    text-decoration: underline;
    color: inherit;
}

.contatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 400px){
    nav{
        font-size: 1.1rem
    }
    nav ul{
        margin: 0 10px 0 auto;
    }
}

footer{
    text-align: right;
    padding-right: 10px;
}